body{
    background-color: #56686d;
    font-family: 'Quintessential', cursive;
    /* font-family: 'EB Garamond', serif;
    font-family: 'Licorice', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Quintessential', cursive;
    font-family: 'The Nautigal', cursive; */
}

#main-img { /* Changed */
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%; /* Benis: Making image responsive */
   height: 100%;
}



/* Picture elements */
#capitol a {
    position: absolute;
    left: 1018px;
    top: 525px;
}

#capitol div.innerDivPic:hover {
    border: 4px darkcyan
}
#capitol div.innerDivPic{
    border: 4px solid blue;
    height: 255px;
    width: 373px;
    border-radius: 20%;
}

#civilplace a {
    position: absolute;
    left: 660px;
    top: 1040px;
}

#civilplace div.innerDivPic{
    border: 4px solid blue;
    height:  199px;
    width: 375px;
    border-radius: 25%;
}

#cocacola a {
    position: absolute;
    left: 392px;
    top: 857px;
}

#cocacola div.innerDivPic{
    border: 4px solid blue;
    height: 192px;
    width: 357px;
    border-radius: 25%;
}

#mlkhouse a {
    position: absolute;
    left: 891px;
    top: 766px;
}

#mlkhouse div.innerDivPic{
    border: 4px solid blue;
    height: 288px;
    width: 368px;
    border-radius: 25%;
}

#stone-mountain a {
    position: absolute;
    left: 1250px;
    top: 948px;
}

#stone-mountain div.innerDivPic{
    border: 4px solid blue;
    height: 228px;
    width: 419px;
    border-radius: 25%;
}

#swanhouse a {
    position: absolute;
    left: 986px;
    top: 1418px;
}

#swanhouse div.innerDivPic{
    border: 4px solid blue;
    height: 253px;
    width: 384px;
    border-radius: 25%;
}